.container {
  border: 1px solid black;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 70%;
  max-height: 50%;
  margin-top: 45px;
  padding: 20px;
  font-family: Gudea;
}

.search {
  padding: 10px;
  margin: 10px;
}

.searchBar {
  margin-bottom: 15px;
}

.searchBarButton {
  transition: all 200ms ease-in-out;
}

.searchBarButton:hover {
  background-color: white;
  border: 1px solid white;
}

.geoLocateButton {
  padding: 5px 40px;
  display: block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 10px;
  text-align: right;
  max-height: 30px;
  margin: 20px;
  transition: all 200ms ease-in-out;
}

.geoLocateButton:hover {
  background-color: white;
  border: 1px solid white;
}

.weatherImage {
  position: relative;
  left: 0px;
  margin: 0px;
}

.weatherIcon {
  width: 200px;
  display: inline-block;
}

.todayForecastDay {
  position: relative;
  bottom: 90px;
  margin-top: 70px;
}

.searchedCity {
  font-size: 60px;
  font-family: Chewy;
}

.dateTime {
  font-size: 20px;
  font-weight: bold;
}

.todayForecast {
  position: relative;
  bottom: 60px;
  font-size: 20px;
  font-weight: bold;
}

.weatherExtras {
  list-style: none;
  font-size: 15px;
  font-weight: normal;
}

.unit {
  text-decoration-line: none;
}

.active {
  color: black;
}

.active:hover {
  cursor: default;
  color: black;
}

.weatherType {
  padding: 0;
  margin: 0;
  opacity: 0.4px;
  font-weight: normal;
}

.futureImage {
  max-width: 50px;
}

.signiture {
  font-size: 15px;
  display: block;
  margin: 0 auto;
}

.weekForecast {
  color: black;
  text-align: center;
  margin-top: -40px;
}

.forecastTemeratureMin {
  opacity: 0.4;
}
