.body {
  background-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.container {
  background-color: rgb(255 222 173 / 30%);
  border: 1px solid #d3d3d3;
  box-shadow: 8px 8px 2px 1px rgb(117 120 130 / 20%);
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 70%;
  max-height: 50%;
  padding: 20px;
  font-family: Gudea;
}

.search {
  padding: 10px;
  margin: 10px;
}

.searchBar {
  margin-bottom: 15px;
}

.searchBarButton {
  background-color: #5cc1b3;
  border: 1px solid #5cc1b3;
  box-shadow: 8px 8px 2px 1px rgb(92 193 179 / 20%);
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.searchBarButton:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.geoLocateButton {
  padding: 5px 40px;
  display: block;
  background-color: #5cc1b3;
  border-radius: 5px;
  border: 1px solid #5cc1b3;
  box-shadow: 8px 8px 2px 1px rgb(92 193 179 / 20%);
  font-size: 10px;
  text-align: right;
  max-height: 30px;
  margin: 20px;
  transition: all 200ms ease-in-out;
}

.geoLocateButton:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.weatherImage {
  position: relative;
  left: 0px;
  margin: 0px;
}

.weatherIcon {
  width: 200px;
  display: inline-block;
}

.todayForecastDay {
  position: relative;
  bottom: 90px;
  margin-top: 70px;
}

.searchedCity {
  color: #ff6473;
  font-size: 60px;
  font-family: Chewy;
}

.dateTime {
  font-size: 20px;
  font-weight: bold;
}

.todayForecast {
  position: relative;
  bottom: 60px;
  font-size: 20px;
  font-weight: bold;
}

.weatherExtras {
  list-style: none;
  font-size: 15px;
  font-weight: normal;
}

.unit {
  text-decoration-line: none;
  color: #5cc1b3;
}

.active {
  color: #000000;
}

.active:hover {
  cursor: default;
  color: #000000;
}

.weatherType {
  padding: 0;
  margin: 0;
  opacity: 0.4px;
  font-weight: normal;
}

.futureImage {
  max-width: 50px;
}

.weekForecast {
  color: #000000;
  text-align: center;
  margin-top: -40px;
}

.nextDay {
  color: #ff6473;
}

.forecastTemeratureMin {
  color: #757882;
  opacity: 0.6;
}

.signiture {
  font-size: 15px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.githubLink {
  text-decoration: none;
  color: #5cc1b3;
}
